{% extends 'pizza_base.html' %}

{% block h1 %}
Заказ
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-primary" role="alert">
              {{ message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
<form action="/order" method="post">
    {% for p in pizza %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" name="pizza_name_{{ p.id }}" value="{{ p.id }}">{{ p.title }}<br>
                <input type="text" name="qty_{{ p.id }}" placeholder="Количество">
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="text" name="client_name" required pattern="^[A-Za-zА-Яа-яЁё]+$" placeholder="Введите ваше имя">
    <input type="text" name="client_phone" required pattern="+7[0-9]{10}" placeholder="Введите ваш телефон">
    <input type="text" name="client_address" required placeholder="Введите ваш адрес">
    <button type="submit" class="btn btn-success">Оформить заказ</button>
</form>
{% endblock %}