{% extends 'pizza_base.html' %}

{% block h1 %}
Пицца
{% endblock %}

{% block content %}
<div class="container">
  {% for p in pizza %}
     {% if loop.fist or loop.index % 3 == 1 %}
       <div class="row">
     {% endif %}
          <div class="col">
             <h5>{{ p.title }}</h5>
             <img src="{{ p.image }}" height="250" width="250">
             <p>Ингридиенты: {{ p.ingredients }}</p>
          </div>
     {% if loop.index % 3 == 0 or loop.last %}
       </div>
     {% endif %}
  {% endfor %}
</div>
<p><a href="/order">Заказать</a></p>
{% endblock %}