<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Заказ пиццы</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Пицца</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/order">Заказ</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="/pass">Для менеджера</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <h1>
        {% block h1 %}
        {% endblock %}
      </h1>
      <hr>

      {% block content %}
      {% endblock %}
    </main>
</body>
</html>